@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

html,
body {
  color:#fff;
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  /* font-weight: 600; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,
body[data-theme="light"] {
  --clr-text-primary: black;
  --clr-text-secondary: #076963;
  --clr-bg-primary: white;
  --clr-bg-toggle: #1e90ff;
  --clr-bg-card-project: #fefefe;
  --clr-bg-skill:#D1E5F0;
  --clr-bg-footer:#ddd;
  --clr-link : #444;
  --clr-border-nav : #ddd;
  --clr-bg-hire : #000;
  --clr-bg-post-blog :#fff;
  /* --clr-br-post: */
}

body[data-theme="dark"] {
  --clr-text-primary: #e3e3e3;
  --clr-text-secondary: #0E141B;
  --clr-bg-primary: #0E141B;
  --clr-bg-primary: #000;
  --clr-bg-toggle: #a9a9a9;
  --clr-bg-card-project: #182635;
  --clr-bg-card-project: #070707;
  --clr-bg-skill:#344E5F;
  --clr-bg-skill:#171717;
  --clr-bg-footer:#1E262F;
  --clr-bg-footer:#070707;
  --clr-link : #e3e3e3;
  --clr-border-nav : #111;
  --clr-bg-hire : #fff;
  --clr-bg-post-blog :#070707;
  --clr-br-post:#222;
}

body{
  background-color: black;
  background-color: var(--clr-bg-primary);
}

.title{
  margin-top: 50px;
  color: var(--clr-text-primary);
  text-transform: capitalize;
  font-weight: 600;
}
/* start content header */
.content{
   padding-top:30px;
}
/* Start Style head -> nav */
nav{

  height: 5rem;
  background: var(--clr-bg-primary);
}
.header{
  position: sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 99;
  display: flex;
  justify-self: unset;
  align-items: center;
  border-bottom: 1px solid var(--clr-border-nav);
  background: var(--clr-bg-primary);
  width: 56.4%;
  margin: 4px auto 0px auto;
  border: 1px solid #111;
  border-radius: 15px;
  
}
/* Start Style head -> navbar */
.nav-cover{
  display: flex;
  background: transparent;
  background:var(--clr-bg-primary);
  justify-content: space-between;
  align-items: center;
  /* line-height: initial; */
}

.list_links{
  display: flex; 
  /* margin-top: 10px; */
  margin-bottom: inherit;
  align-items: center;
  padding-inline-start: 0;
  justify-content: flex-start;
  
}
.link{
  list-style: none;
  margin: 10px 20px;
}
.link:first-child{
  margin-left:0px;
}
.link a{
  text-decoration: none;
  color:var(--clr-text-primary);
}
/* Icon toggle color */
.icon {
  cursor: pointer;
  float: right ;
  font-size: 2rem;
  background: none;
  border:none;
  color: var(--clr-text-primary);
  align-items: center;
  display: flex;
  justify-content: end;
}

.mobile{

  background: chartreuse;
  z-index: 100;
  position: absolute;
  top:5rem;
  transition: 0.6ms;
  height:0%;
  width:100%;
  transition:linear 0.6s;
  margin-inline-start: 0;
}
/* style section about */
.about{
  margin-top: 50px;
  width: 100%;
 text-transform: lowercase;
}
.about .box_img{

  text-align: center;
  display: flex;
  justify-content: center;
}

.about .box_img .me-img{
  margin:10px auto ;
  border-radius: 50%;
}

.about .info-me{
  color: var(--clr-text-primary);
  margin-top: 30px;
}

.list-socail{
   color:var(--clr-text-primary);
}
.list-socail .list{
  list-style: none;
  text-align: center;
}
.list-socail .list li{
  display: inline-block;
  margin:0px 10px;
  color:var(--clr-text-primary);
  font-size: 20px;
}
.list-socail .list a{
  color:var(--clr-text-primary);
}
.detalies .point-info{
    margin-top: 20px;
    color: var(--clr-text-primary);
}

/* start PArt Experaince */
.experaince{
  /* padding-inline-start: 0px; */
  /* margin-left: -5px; */
  list-style: none;
  color: var(--clr-text-primary);

}
.intern-title{
  margin: 0 0 10px 0;
  line-height: 1.15;
  font-size: 1rem;
  font-weight:600;
  text-transform:capitalize;
}
/* Created specail style  */
.link{
  font-weight: bold;
}

.skills .list-skills {
  padding-inline-start: 0px;
  margin-left: -5px;
  list-style: none;
}
.skills .skill{
  margin: 10px 5px -5px 5px ;
  border: none;
  padding:2px 10px;
  border-radius: 5px;
  color: var(--clr-text-primary);
  display: inline-block;
  border:0.5px solid var(--clr-border-nav);
}

/* Contact Me */
.contact{
  color: var(--clr-text-primary);
}



.hire-me{
  margin: 50px auto;
  display: flex;
  border:none;
  padding:0;
  border-radius: 3px;
  background: var(--clr-bg-hire);
}
.hire-me a{
  padding: 5px 10px;
  color: var(--clr-border-nav);
  font-weight: 800;
}
/* Page img not found */
.box-notfound{
  /* width: 100%?; */
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
.img-notfound{
  /* border:5px solid #333; */
  border-radius: 5px;
}


/* Page Blog style */
.blog{
  height: 100vh;
  color:var(--clr-text-primary)
}
.blog .link__test__blog{
  text-align: center;
  margin-top:50px;
}
.blog .post{
  margin-top: 50px;
  color: var(--clr-text-primary);
  /* border:2px solid #eee; */
  border-radius: 5px;
  overflow: hidden;
  background-color:var(--clr-bg-post-blog);
  padding-bottom: 20px;
}
.blog .post .content-post{
  margin: 5px;
}
.blog  a{
  font-weight: bold;
  color: var(--clr-text-primary);
}
.data-post{
  color:var(--clr-text-primary)
}
.under-working {
  margin: 50px 0px;
}

.card_post{
  background:var(--clr-bg-card-project);
  border-radius: 5px;
  border:0.5px solid var(--clr-border-nav);
  cursor:pointer;
  /* width:90%; */
}
@media (max-width:800px){
   .card_post{
      width:90%;
   }
}
.card_post .content_post{
  padding-bottom:10px;
}
.card_post .title_post{
  font-weight:600;
  margin:20px 0px;
}
.card_post .time_post{
  /* background-color:#0E141B; */
  /* width:180px; */
  /* padding: 0px 0px 10px 0px; */
  border-radius:5px;
  text-align:center;
  /* margin: 0px 0px 10px 0px; */
  /* display:block; */
}
.card_post .info_post{
  margin-top:15px;
}
/* Single Post Data  */
.img-blog{
  border-radius: 5px;
  /* padding-top: 40px;
  display: block; */
}

/* Start Style Prjects */
.projects .title-projects{
  color: yellow;
  color:var(--clr-text-primary);
  margin-top: 50px;
  margin-bottom: 30px;
}
.projects .card-project{
  background: #182635;
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 20px auto;
  background: var(--clr-bg-card-project);
  color:var(--clr-text-primary);
  border:0.5px solid var(--clr-border-nav);
}
.projects .card-project .num-project{
  position:absolute;
  top:-10px;
  left:-10px;
  width: 30px;
  height:30px;
  background-color: var(--clr-bg-primary);
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
}
.projects .card-project .title-project{
  font-weight: 700;
  color: var(--clr-text-primary);
  font-size: 19px;
  text-transform: lowercase;
}
.projects .card-project .skills {
  margin-bottom:10px;
  margin-left: -8px;
  text-transform: lowercase;
}
.projects .card-project .skill{
  padding: 2px 5px;
  color:var(--clr-text-primary);
  /* background: #0E141B; */
  /* background: var(--clr-bg-skill); */
  margin-right:5px;
  border-radius: 5px;
  font-size: 15px;
  
  border:0.5px solid var(--clr-border-nav);
}
.projects .card-project .links-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
  font-weight: 600;
  color:var(--clr-link);
  
}
.projects .card-project .links-card .btn_link{
  border:0.5px solid var(--clr-border-nav);
  padding:5px 10px;
  /* width:300px; */
  /* background : #ddd; */
  border-radius:5px;
}
/* start style Footer */

.footer{
  padding-top:10px ;
  margin-top: 40px;
  border-top:1px solid var(--clr-bg-footer);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text-primary);
}
